<h1>Yo dog I'm the landing page!</h1>
<p>have a nice little intro to the group here</p>
<p>maybe links to a couple other static info pages</p>
<p>throw a footer in there... you got yourself a party</p>